#easyjs-cookie-consent {
	--br: var(--border-radius, 1em);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--easyjs-cardBg);
	box-shadow: 0 0 var(--br) 0 var(--easyjs-subText);
	color: var(--easyjs-text);
	border-top-left-radius: var(--br);
	border-top-right-radius: var(--br);
	padding: var(--br);
}
#easyjs-cookie-consent-button {
	border-radius: var(--br);
	background-color: var(--easyjs-buttonBg);
	border: none;
	box-shadow: 0 0 var(--br) 0 transparent;
}
#easyjs-cookie-consent-button:hover, #easyjs-cookie-consent-button:focus {
	box-shadow: 0 0 var(--br) 0 var(--easyjs-subText);
}