.easyjs-popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	text-align: center;
	z-index: -1000;
	transition: opacity 1s;
	opacity: 0;
	display: flex;

	justify-content: center;
	align-items: center;
}
.easyjs-popup {
	text-align: center;
	color: var(--easyjs-text);
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 0 var(--border-radius) 0 var(--easyjs-text);
	padding: var(--border-radius);
	border-radius: var(--border-radius);
}
@media (prefers-color-scheme: dark) {
	.easyjs-popup {
		background-color: rgba(0, 0, 0, 0.90);
	}
}