.easyjs-popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	text-align: center;
	z-index: -1000;
	transition: opacity 1s;
	opacity: 0;
	display: flex;

	justify-content: center;
	align-items: center;
}
.easyjs-popup {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	padding: var(--border-radius);
	border-radius: var(--border-radius);
}