@import "https://fonts.googleapis.com/css?family=Jura|Major Mono Display|Comfortaa&display=swap";

html, body {
	--font-family-body: "Jura", "Comfortaa", sans-serif;
	--font-family-body2: "Comfortaa", "Jura", sans-serif;
	--font-family-heading: "Major Mono Display", monospace, var(--font-family-body);

	font-family: var(--font-family-body);

	--border-radius: 1rem;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;

	text-align: center;

	color: var(--easyjs-text);
	background-color: var(--easyjs-bg);
}
body {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

nav {
	background-color: var(--easyjs-contrastNavBg);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-body);
	font-weight: normal;
}

h1 {
	font-size: xx-large;
}
h1 span {
	color: var(--easyjs-subText);
	font-size: smaller;
	font-style: italic;
}

.section-title {
	background-color: var(--easyjs-cardBg);
	--padding: var(--border-radius);
	border-radius: var(--border-radius);
	padding: var(--padding);
	transition: background-color 0.75s;
}
.section-title::before {
	content: "EasyJS ";
	font-family: var(--font-family-body);
	font-size: larger;
}
.section-title:hover, .section-title:focus {
	background-color: var(--easyjs-buttonBg);
}

h2 {
	padding-bottom: 1vmin;
	width: fit-content;
	position: relative;
}
h2::after {
	position: relative;
	content: "";
	display: block;
	width: calc(var(--border-radius) * 4);
	margin-top: 1vmin;
	border-bottom: 1px solid var(--easyjs-text);
	transition: width 1s;
}
h2:hover::after, h2:focus::after {
	width: 100%;
}

#title {
	font-family: var(--font-family-body);
	font-size: xxx-large;
	margin: 0 0 auto 0;
	padding: var(--padding);
	position: fixed;
	top: 0;
	width: 100%;
	transition: box-shadow 0.5s;
	background-color: var(--easyjs-navBg);
	z-index: 100;
}
#title-inner {
	display: inline-block;
	font: smaller var(--font-family-body2);
}

#nav {
	font-size: x-large;
	padding: 1em;
	position: relative;
	z-index: 2;
	box-shadow: 0.5vmin 0 1vmin 0 var(--easyjs-inverse-contrastNavBg);
	width: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: width 1s;
}
.nav-a {
	--padding: var(--border-radius);
	padding: var(--padding);
	margin: calc(var(--padding) / 2);
	--transition: transform 0.75s;
	transition: var(--transition), background-color 1s;
	display: inline-block;
	border-radius: var(--padding);
	text-decoration: none;
	color: var(--easyjs-inverse-link);
	vertical-align: middle;
	width: fit-content;
}
.nav-a:hover, .nav-a:focus {
	transform: rotateY(20deg);
	background-color: var(--easyjs-inverse-buttonBg);

	border-top-left-radius: var(--padding);
	border-bottom-left-radius: var(--padding);
}
.nav-a.here {
	background-color: var(--easyjs-buttonBg);
	color: var(--easyjs-text);
	transition: var(--transition), background-color 0.5s;
}

#main {
	--padding-top: 0.75rem;
	--padding: var(--padding-top) 1.25rem;

	overflow: scroll;
	text-align: left;
	position: relative;
	z-index: 1;
}
#main-inner {
	padding: var(--padding);
	scroll-behavior: smooth;
}

.section {
	
}

.example {
	background-color: var(--easyjs-cardBg);
	--padding: var(--border-radius);
	border-radius: var(--border-radius);
	padding: var(--padding);
	margin: calc(var(--padding) / 2) 0;

	display: inline-block;
}
.example.block {
	display: block;

	--statement: rgb(200, 0, 226);
}